In [5]:
import pandas as pd
import numpy as np
iris=pd.read_csv('iris.csv')

In [6]:
print(iris)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [7]:
import statistics

In [8]:
print(iris['sepal.length'].iloc[0])

5.1

In [9]:
maxpetallength = iris['petal.length'].max()
specieswithmaxPL = iris[iris['petal.length']==maxpetallength]
print(specieswithmaxPL.variety)

118    Virginica
Name: variety, dtype: object

In [10]:
sepwid = iris[iris['sepal.width'] > 3.5]
print(sepwid.shape[0])

19

In [11]:
versicolor = iris[iris['variety'] == "Versicolor"]
meanvalue = statistics.mean(versicolor["petal.width"])
print(meanvalue)
versicolor.describe()

1.326

       sepal.length  sepal.width  petal.length  petal.width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [12]:
virginica = iris[iris["variety"] == "Virginica"]
virginica.shape[0]

50

In [13]:
iris['sepal.area'] = iris['sepal.length']*iris['sepal.width']
maxsepalarea = iris['sepal.area'].max()
specieswithmaxsepalarea = iris[iris['sepal.area'] == maxsepalarea]
print(specieswithmaxsepalarea.variety)

131    Virginica
Name: variety, dtype: object